.appointments-container {
  height: 100vh;
}

.form-container {
  padding: 20px;
  background: #FCFCFD;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: 100px;
}
.right-side {
  padding: 0;
}
/* ===== Həkim & Pasiyent ======  */
.first-row {
  display: flex;
  gap: 20px;
  width: 100%;
}
.first-row .form-group {
  width: 50%;
}
/* ===== Əməliyyat & Otaq ======  */
.second-row {
  display: flex;
  gap: 20px;
  width: 100%;
}
.second-row .form-group {
  width: 50%;
} 
/* ===== Tarix & Saat & Müddət ======  */
.third-row {
  display: flex;
  gap: 20px;
  width: 100%;
}
.third-row .form-group {
  width: 33.33%;
}
/* ===== Status & Pasient borcu ======  */
.fourth-row {
  display: flex;
  gap: 20px;
  width: 100%;
}
.fourth-row .form-group {
  width: 50%;
}

.form-container h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.form-group input:focus {
  outline: none;
  border-color: #0066cc;
  box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.1);
}


/* ===== Buttons ======  */
.buttons-container {
  gap: 10px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 40px;
  right: 20px;
}
.cancel-button, .confirm-button {
  padding: 8px 25px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
  min-width: 100px;
}

.cancel-button {
  background-color: transparent;
  color: #155EEF;
  border: 1px solid #155EEF;
}

.cancel-button:hover {
  background-color: #155EEF;
    color: #fff;
}
.confirm-button{
    background-color: #155EEF;
    color: #fff;
    border: 1px solid transparent;
}

.confirm-button:hover {
  background-color: transparent;
    color: #155EEF;
    border-color: #155EEF;
}

/* Təhlükəli əməliyyatlar üçün təsdiqləmə düyməsi */
.confirm-button.danger {
  background-color: #F44336;
}

.confirm-button.danger:hover {
  background-color: #d32f2f;
}
