
.add_user {
    display: flex;
    flex-direction: column;
    margin: 10px 30px 10px 266px; 
}

.form_container {
    display: flex;
    min-height: 100vh; 
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* replaced border with shadow */
    border-radius: 10px;
}


.temp-header {
    background-color: #155EEF;
    color: white;
    padding: 15px 20px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }